<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    <context:property-placeholder location="musicPlayer.properties"/>
    <bean id="musicBean"
          class="ClassicalMusic">
    </bean>
    <bean id="otherBean"
          class="RockMusic"/>

    <bean id="musicPlayer"
          class="MusicPlayer">

        <property name="musicList">
            <list value-type="java.util.List">
                <ref bean="musicBean"/>
                <ref bean="otherBean"/>
            </list>
        </property>

        <property name="name" value="${musicPLayer.name}"/>
        <property name="volume" value="${musicPLayer.volume}"/>
    </bean>
</beans>